Python Foundation/.ipynb_checkpoints
Python Foundation/.vscode
Python Foundation/Apostila Python Foundation - Atualizado-11-2020.pdf
Python Foundation/Instalação do Ambiente
Python Foundation/Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 1.mp4
Python Foundation/Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 2.mp4
Python Foundation/Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 3.mp4
Python Foundation/Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 4.mp4
Python Foundation/Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 5.mp4
Python Foundation/Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 6.mp4
Python Foundation/Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 7 - 1.mp4
Python Foundation/Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 7 - 2.mp4
Power BI/Apresentações
Power BI/Capturas de Tela
Power BI/Imagens
Power BI/Vídeos
Python Aplicado a Big Data/Aula 3 - 08032021 - Pandas/sample-data/xlsx/Accidents7904.xlsx
Python Aplicado a Big Data/Aula 6 - 11032021 - Matriz Correlação/Accidents7904.xlsx
Python Aplicado a Big Data/Vídeos
Desafios
**/.history
**/Treinamento*GitHub*
**.exe
**Accidents7904.xlsx
Aplicado a Big Data/Aula 3 - 08032021 - Pandas/sample-data/xlsx/Accidents7904.zip
**oraociei.dll
**/Imersao*DevOps*
**/Lib
**/share
I2A2/Criação de Agentes - Alura - Aula 5
**Embeddings.ipynb
**ChatGPT API Key.txt