/.ipynb_checkpoints
/.vscode
/Apostila Python Foundation - Atualizado-11-2020.pdf
/Instalação do Ambiente
Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 1.mp4
Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 2.mp4
Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 3.mp4
Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 4.mp4
Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 5.mp4
Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 6.mp4
Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 7 - 1.mp4
Videos/Python Foundation - Noturno - 01_12 á 10_12 - Aula 7 - 2.mp4
